<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Flyps</title>
</head>

<body>
    <div class="container">
        <div class="header mb-3">
            <h3 class="text-muted">Little bit of skills for the Flyps</h3>
        </div>
        <a class="btn btn-success btn-lg mb-3" href="/" role="button">Home</a>


        <div class="row marketing">
            <div class="col-lg-6 border p-3">
                <form action = "/books" method = "POST">
                    <h4>Book list</h4>
                    <p>Create a list of books you are interested in!</p>
                    <input class="form-control" type="text" name="search" placeholder="Search by title" required>
                    <input class="btn btn-primary my-2" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>

</html>